/* 전체 페이지 스타일 */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* 헤더 스타일 */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* 본문 스타일 */
body {
  background-color: #f2f2f2;
  padding: 20px;
}

/* 푸터 스타일 */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}